@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* font-family: Poppins, sans-serif; */
}

header {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    font-family: Poppins, sans-serif;
  }
  
  #logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
  
  #logo img {
    justify-content: center;
    width: 5%;
    height: 5%;
  }

  #lista ul{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 2rem;
  }
  
  #lista a {
    color: black;
    text-decoration: none;
  }

  .item:hover {
    text-decoration: underline;
  }

  main {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: lightsteelblue;    
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #conteudo-nasa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .titulo-img {
    font-size: 2rem;
  }

  .foto {
    width: 40%;
  }

  .descricao {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
  }

  form {
    display: flex;
    margin: 3rem 0;
    gap: 2rem;
  }

  form h2 {
    margin-top: 0.25rem;
    font-family: Raleway, cursive;
  }

  
  #data {
    padding: 0.22rem;
    background-color: #c8c8c8;
    text-align: center;
  }

  input, button {
    font-size: 1rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
    transition: 1.1s;
  }

  button:hover{
    cursor: pointer;
    font-size: 1rem;

  }
  .titulo-img {
    font-family: Raleway, cursive;
  }

  #rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: #ddd;
    height: 3rem;
    gap: 1rem;
    font-weight: 600;
  }
  
#copy {
  text-align: center;
}
